---
import '@styles/global.less'
import favicon from '@root/favicon.ico'
---

<html lang="en">
  <head>
    <title>我很酷的 Astro 网站</title>
    <link rel="icon" href={favicon} />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="keywords" content="adicwu,adicw,Χαλαρό,anime,Masami,悠哉wu" />
    <meta name="description" content="一个私人动漫网站。所谓世人，不就是你吗" />
    <meta name="author" content="adicwu" />
    <meta name="copyright" content="@2020" />
  </head>
  <body>
    <!-- <nav>
    </nav> -->
    <article>
      <slot />
    </article>
  </body>
</html>
